<div class="body grid1-container__item4">
    <h1>Informacion de Configuracion</h1>
</div>
<div class="displayBlock m-3">
    <table class="table table-responsive-sm table-striped">
        <thead class="table-dark">
            <tr>
                <th>Clave</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Puerto</td>
                <td>{{configuration_info.puerto}}</td>
            </tr>
            <tr>
                <td>Modo</td>
                <td>{{configuration_info.modo}}</td>
            </tr>
            <tr>
                <td>Expiracion de sesion</td>
                <td>{{configuration_info.ttl}}</td>
            </tr>
            <tr>
                <td>Ruta base</td>
                <td>{{configuration_info.base_route}}</td>
            </tr>
            <tr>
                <td>Base de Datos</td>
                <td>{{configuration_info.base_de_datos}}</td>
            </tr>
        </tbody>
    </table>
</div>